@model Call.Cloud.Mvc.Models.AudioVM.ListasAudios
@{
    ViewBag.Title = "Audios";
    Layout = "~/Views/Shared/_Theme.cshtml";
}

@{
    string respuesta = (string)Session["mensaje"];

    respuesta = ViewBag.Mensaje;
}

<head>
    @{
        <script type="text/javascript">

            var agent = agent || {};
            agent.Urls = agent.Urls || {};
            agent.Urls.baseUrl = '@Url.Action("~")';
            agent.Urls.editarAgentUrl = '@Url.Action("Detalle_Audio", "Audios")';
            agent.Urls.searchAgentUrl = '@Url.Action("Audios_Listar", "Audios")';
            agent.Urls.findAgentUrl = '@Url.Action("Buscar", "Audios")';
            agent.Urls.findByBusinesstUrl = '@Url.Action("GetElements", "Audios")';
            agent.Urls.findByBosstUrl = '@Url.Action("GetElementsByBoss", "Audios")';
        </script>
    }

</head>
@Html.Hidden("hdnPathAudio")

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">Visualizar</a></li>
    <li class="breadcrumb-item">Audios</li>
    <li class="breadcrumb-item active">Audios</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class='subheader-icon fal fa-edit'></i> Audios
        <small>
            Visualizar audios
        </small>
    </h1>
</div>

@if (!string.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Mensaje:</span>
        <strong> Mensaje: </strong>@ViewBag.Mensaje
    </div>
}

@Html.AntiForgeryToken()
<div class="row">
    <div class="col-xl-6">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Audios
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="form-row">
                        <div class="col-md-2 mb-1">
                            @Html.Label("PkBusiness", "Business", htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.Filtro.PK_Business, Model.Business, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2 mb-1">
                            @Html.Label("PkBoss", "Boss", htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.Filtro.Fk_Boss, Model.Boss, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2 mb-1">
                            @Html.Label("PkAgent", "Agent", htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.Filtro.PkAgent, Model.Agent, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2 mb-1" style="display:none;">
                            @Html.Label("Placa", "Placa", htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.Filtro.Placa, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2 mb-1">
                            <label class="form-label">&nbsp;</label>
                            <button id="btnBuscar" class="btn btn-primary form-control" type="button" onclick="">Buscar</button>
                        </div>
                        <div class="col-md-2 mb-1">
                            <label class="form-label">&nbsp;</label>
                            <button id="btnLimpiar" class="btn btn-default form-control" type="button" onclick="">Limpiar</button>
                        </div>

                        @*<div class="col-md-2 ml-auto">
                                <label class="form-label">&nbsp;</label>
                                <button class="btn btn-primary form-control" type="button" data-toggle="modal" data-target="#ModalAgent" data-id="-1">Nuevo</button>
                            </div>*@
                    </div>
                </div>
                <div class="panel-content border-faded align-items-center">
                    <div class="table-responsive-lg" style="overflow-x:auto;">
                        @Html.Partial("Grid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade modal-3d-slit" id="ModalAgent" aria-hidden="true"
     aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Audios</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="divModalAudio">
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/usados/Audios.js"></script>
    <script type="text/javascript">
        (function () {
            iniciar();
        })();

    </script>

    <!--combo por negocio-->
    <script type="text/javascript">
        // Inicialización
        $(document).ready(function () {

            //alert("mensaje");

            $("#Filtro_PK_Business").change(function () {
                cambiaElementosByBusi($("#Filtro_PK_Business").val());
            });
            cambiaElementosByBusi($("#Filtro_PK_Business").val());
        });
        // Carga el desplegable de elementos en función
        // de la categoría que le llega como parámetro.
        function cambiaElementosByBusi(pk) {
            var dd = document.getElementById("Filtro_Fk_Boss");

            dd.options.length = 0;
            dd.options[0] = new Option("TODOS");
            dd.selectedIndex = 0;
            // Control de errores
            $("#Filtro_Fk_Boss").ajaxError(function (event, request, settings) {
                dd.options[0] = new Option("Business incorrecta");
            });

            var urlsupervisor = agent.Urls.findByBusinesstUrl;
            // Obtenemos los datos...

            $.getJSON(
                urlsupervisor, // URL a la acción
                {
                    pkbusiness: pk
                },

                // Objeto JSON con parámetros
                function (data) {                    // Función de retorno exitoso
                    $.each(data, function (i, item) {

                        dd.options[0] = new Option("TODOS");
                        for (var i = 0; i < data.length; i++) {
                            if (data.length >= 0) {
                                dd.options[0] = new Option("TODOS");
                                dd.selectedIndex = 0;
                                dd.options[i + 1] = new Option(data[i].FirstName, data[i].PkAgent);

                            }
                        }
                    });
                    dd.disabled = false;

                });
        }
    </script>

    <!--combo por suppervisor-->
    <script type="text/javascript">
        // Inicialización
        $(document).ready(function () {
            $("#Filtro_Fk_Boss").change(function () {

                cambiaElementosBySup($("#Filtro_Fk_Boss").val());

            });
            cambiaElementosBySup($("#Filtro_Fk_Boss").val());

        });

        // Carga el desplegable de elementos en función
        // de la categoría que le llega como parámetro.

        function cambiaElementosBySup(pkb) {
            var di = document.getElementById("Filtro_PkAgent");
            di.options.length = 0;
            di.options[0] = new Option("TODOS");
            di.selectedIndex = 0;

            // Control de errores

            $("#Filtro_PkAgent").ajaxError(function (event, request, settings) {
                di.options[0] = new Option("Boss incorrecta");

            });

            var urlagent = agent.Urls.findByBosstUrl;
            // Obtenemos los datos...

            $.getJSON(
                urlagent, // URL a la acción
                {
                    pkboss: pkb
                },
                // Objeto JSON con parámetros
                function (data) {                    // Función de retorno exitoso
                    $.each(data, function (i, item) {
                        di.options[0] = new Option("TODOS");
                        for (var i = 0; i < data.length; i++) {
                            if (data.length >= 0) {
                                di.options[0] = new Option("TODOS");
                                di.selectedIndex = 0;
                                di.options[i + 1] = new Option(data[i].FirstName, data[i].PkAgent);

                            }
                        }
                    });
                    di.disabled = false;

                });
        }
    </script>

}
