@model Call.Cloud.Mvc.Models.OfficeVM.EditarOfficeVm
@{
    ViewBag.Title = "Office";
    Layout = "";
}

<div class="col-sm-12">
    <div class="example-wrap">
        @using (@Html.BeginForm("Editar", "Office", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Item.PkOffice)

            <div class="form-group">
                @Html.Label("nameOffice", "Name Office", htmlAttributes: new { @class = "control-label col-sm-2" })
                <div>
                    @Html.EditorFor(model => model.Item.nameOffice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name Office", @maxlength = "500", @onkeypress = "return soloLetras(event)", @onpaste = "return false" } })
                </div>
                @Html.Label("PkEnterprise", "Enterprise", htmlAttributes: new { @class = "control-label col-sm-2" })
                <div>
                    @Html.DropDownListFor(model => model.Item.PkEnterprise, Model.Enterprise, new { @class = "form-control" })
                </div>
            </div>   

            <div>
                <div>
                    <button type="submit" id="btnGrabar" class="btn btn-primary" onclick="return grabar();">Grabar </button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                </div>
            </div>                                
        }
    </div>
</div>

@section scripts{
    <script>
        (function () {
            iniciarEditar();
        })();
    </script>
}