@model Call.Cloud.Mvc.Models.ReportVM01.ListaReportAgent
@{
    ViewBag.Title = "ReportAgentWhiteList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/Base/css/calendario.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/Calender/calendar.js" type="text/javascript"></script>
    <script src="~/Scripts/Calender/calendar-setup.js" type="text/javascript"></script>
    <script src="~/Scripts/Calender/calendar-es.js" type="text/javascript"></script>
    <script src="~/Scripts/Calender/jquery-1.12.0.min.js"></script>
</head>

@*<a href=”javascript:mostrarOcultarTablas('div_chart')”>Mostrar tabla 1</a>

    <a href=”javascript:mostrarOcultarTablas('duple_chart02')”>Mostrar tabla 2</a>*@

@if (!string.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Mensaje:</span>
        <strong> Mensaje: </strong>@ViewBag.Mensaje
    </div>
}
<div class="page animsition">

    <div class="page-header">
        <h1 class="page-title">Agent</h1>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <form id="formAusenciaFiltro" role="form">
                <div class="col-sm-12">
                    <div class="form-group form-material">
                        @Html.Label("codigoEmpresa", "Boss code", htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-4">
                            @Html.DropDownListFor(model => model.Filtro.pk_supervisor, Model.listarAgente, new { @class = "form-control" })


                        </div>
                    </div>

                </div>
            </form>

            <div class="col-sm-12">
                <div class="text-center">
                    <button id="btnLimpiar" class="btn btn-default" type="button" onclick="">Clean</button>
                    <button id="btnBuscar" class="btn btn-primary" type="button" onclick="grafica01();">Show</button>


                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="divGrid" class="col-sm-12">


            <div id="chart01" style="width:auto; height:auto">

                <div id="div_chart" style="width: 600px;"></div>


            </div>

            <div id="chart02" style="width:auto; height:auto">
                <div id="div_chart1" style="width:900px;">


                </div>
            </div>


            <div id="chart03" style="width:auto; height:auto">
                <div id="div_chart2" style="width: 1200px;"></div>
            </div>
            <div id="chart04" style="width:auto; height:auto">
                <div id="graffica_call" style="width:600px;"></div>
            </div>


        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade modal-3d-slit" id="ModalReport" aria-hidden="true"
         aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Reports</h4>
                </div>
                <div class="modal-body" id="divModalReport">
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ['corechart'] });
        function grafica01() {
            var parametros = {
                pk_supervisor: $("#Filtro_pk_supervisor").val(),
            }
            $(function () {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '@Url.Action("chart_whiteList_Agent_year")',
                    data: { filtro: parametros },
                    success: function (data) {
                        var data1 = new google.visualization.DataTable();
                        data1.addColumn('string', 'supervisor');
                        data1.addColumn('number', 'Porcentajes de palabras bien dichas');
                        data1.addColumn('number', 'Porcentaje de palabras mal dichas');

                        for (var i = 0; i < data.length; i++) {

                            data1.addRow([
                                      data[i].name_agent,
                                       data[i].portCumpli,
                                       data[i].PortnoCumpl,
                            ]);
                        }
                        console.log(data);
                        var options = {
                            title: "Reporte de año por Agente",
                            legend: { position: 'top', maxLines: 15 },
                            fontsize: "100px;",
                            chartArea: { width: '90%', },
                            backgroundColor: 'transparent',
                            curveType: "function",
                            isStacked: true,
                            vAxis: { format: '#\'%\'' },
                        }
                        var view = new google.visualization.DataView(data1);
                        view.setColumns([0, 1, {
                            calc: "stringify",
                            sourceColumn: 1,
                            type: "string",
                            role: "annotation"
                        }, 2,
                             {
                                 calc: "stringify",
                                 sourceColumn: 2,
                                 type: "string",
                                 role: "annotation"
                             }
                        ]);

                        $("#div_chart").css("height", "400");
                        var chart = new google.visualization.ColumnChart(document.getElementById("div_chart"));
                        function selectItem() {
                            var select = chart.getSelection()[0];
                            if (select) {
                                var name = data1.getValue(select.row, 0);
                                for (var i = 0; i < data.length; i++) {
                                    var array = new Array();
                                    var array1 = new Array();
                                    if (data[i].name_agent==name) {
                                        array = [data[i].codigo];
                                        array1 = [data[i].año];
                                        data[i].codigo = array[i];
                                        data[i].año = array1[i];
                                        var pk_Agent = array;
                                        var Year = array1;
                                    }
                                }

                                
                                var pkAgent = pk_Agent;
                                var yearr = Year;
                                if (pk_Agent == pkAgent && Year == yearr) {

                                    if (document.getElementById("chart01")) {

                                        document.getElementById("chart01").style.display = 'none'

                                        grafica02(pkAgent, yearr);
                                     

                                    }

                                }
                            }
                        }
                        google.visualization.events.addListener(chart, 'select', selectItem);
                        chart.draw(view, options);

                    },
                    error: function () {
                        console.log(data);
                    }
                })
            });
        }
    </script>


    <script type="text/javascript">
        google.load("visualization", "1", { packages: ['corechart'] });

        function grafica02(pk_offi, Year) {
            var parametros = {
                pk_agent: pk_offi,
                Year_Parm: Year,
            }
            $(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("chart_whiteList_Agent_Month")',
                    dataType: 'json',
                    data: {
                        filtro: parametros
                    },
                    success: function (data) {
                        var data1 = new google.visualization.DataTable();
                        data1.addColumn('string', 'mes');
                        data1.addColumn('number', 'Porcentajes de palabras bien dichas');
                        data1.addColumn('number', 'Porcentaje de palabras mal dichas');
                        var options = {
                            title: "Reporte del  mes del año " + " " + Year + "" + " de la oficina " + "" + pk_offi,
                            legend: { position: 'top', maxLines: 15 },
                            fontsize: "100px;",
                            chartArea: { width: '100%', height: '70%', left: 49, top: 50 },
                            backgroundColor: 'transparent',
                            curveType: "function",
                            isStacked: true,
                            vAxis: { format: '#\'%\'' },
                        }
                        var view = new google.visualization.DataView(data1);
                        view.setColumns([0, 1,
                            {
                                calc: "stringify",
                                sourceColumn: 1,
                                type: "string",
                                role: "annotation"
                            },
                            2,
                                        {
                                            calc: "stringify",
                                            sourceColumn: 2,
                                            type: "string",
                                            role: "annotation"
                                        }
                        ]);
                        console.log(parametros);
                        for (var i = 0; i < data.length; i++) {
                            data1.addRow([data[i].mes, data[i].portCumpli1, data[i].PortnoCumpl1]);
                        }

                        $("#div_chart1").css("height", "400");
                        var chart = new google.visualization.ColumnChart(document.getElementById("div_chart1"));
                        function selectItem() {

                            var select = chart.getSelection()[0];
                            if (select) {
                                var mes = data1.getValue(select.row, 0);
                                var month1 = mes
                                var año = parametros.Year_Parm;
                                var pkBoss = parametros.pk_agent;
                                if (parametros.pk_agent == pkBoss && mes == month1 && parametros.Year_Parm == año) {
                                    if (document.getElementById("chart02")) {

                                        document.getElementById("chart02").style.display = 'none'
                                        grafica03(pkBoss, month1, año);
                                        console.log(pkBoss);
                                        console.log(month1)
                                        console.log(año);

                                    }

                                }
                            }

                        }

                        google.visualization.events.addListener(chart, 'select', selectItem);
                        chart.draw(view, options);
                    },
                    error: function () {

                        console.log(data);
                    }
                })
            });
        }

    </script>

    <script type="text/javascript">
        google.load("visualization", "1", { packages: ['corechart'] });
        function grafica03(pk_offi, month, Year) {
            var parametros = {
                pk_Boss_param: pk_offi,
                Month_param: month,
                YearParam: Year
            }
            $(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("chart_whiteList_Agent_Day")',
                    data: {
                        filtro: parametros
                    },
                    dataType: 'json',
                    success: function (data) {
                        var data1 = new google.visualization.DataTable();
                        data1.addColumn('string', 'dias');
                        data1.addColumn('number', 'Porcentajes de palabras bien dichas');
                        data1.addColumn('number', 'Porcentaje de palabras mal dichas');
                        var options = {
                            title: "Reporte de " + " " + month + " del " + Year,
                            legend: { position: 'top', maxLines: 15 },
                            fontsize: "100px;",
                            chartArea: { width: '100%', height: '70%', left: 49, top: 50 },
                            backgroundColor: 'transparent',
                            curveType: "function",
                            isStacked: true,
                            vAxis: { format: '#\'%\'' },
                        }
                        var view = new google.visualization.DataView(data1);
                        view.setColumns([0, 1,
                            {
                                calc: "stringify",
                                sourceColumn: 1,
                                type: "string",
                                role: "annotation"

                            },
                            2,
                                        {
                                            calc: "stringify",
                                            sourceColumn: 2,
                                            type: "string",
                                            role: "annotation"
                                        }
                        ]);
                        console.log(parametros);
                        for (var i = 0; i < data.length; i++) {
                            data1.addRow([data[i].dias, data[i].portCumpli2, data[i].PortnoCumpl2]);
                        }

                        $("#div_chart2").css("height", "400");
                        var chart = new google.visualization.ColumnChart(document.getElementById("div_chart2"));
                        function selectItem() {
                            var select = chart.getSelection()[0];
                            if (select) {
                                var fecha = data1.getValue(select.row, 0);
                                var fechaa = fecha
                                var pk_agen = parametros.pk_Boss_param;
                                if (fecha == fechaa && parametros.pk_Boss_param == pk_agen) {
                                    if (document.getElementById("chart03")) {

                                        document.getElementById("chart03").style.display = 'none'
                                        Report_call(pk_agen, fechaa);
                                    }
                                }
                            }

                        }
                        google.visualization.events.addListener(chart, 'select', selectItem);
                        chart.draw(view, options);
                    },
                    error: function () {
                        console.log(data);

                    }
                })
            });
        }

    </script>

    <script type="text/javascript">
        google.load("visualization", "1", { packages: ['corechart'] });
        function Report_call(pk_agent, date) {
            var parametros = {
                Param_pk_Agente: pk_agent,
                Param_Date: date

            };
            $(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("report_call")',
                    data: {
                        filtro: parametros
                    },
                    dataType: 'json',
                    success: function (data) {
                        var data1 = new google.visualization.DataTable();
                        data1.addColumn('string', 'dias');
                        data1.addColumn('number', 'Porcentajes de palabras bien dichas');
                        data1.addColumn('number', 'Porcentaje de palabras mal dichas');
                        var options = {
                            //title: "Reporte de " + " " + month + " del " + Year,
                            legend: { position: 'top', maxLines: 15 },
                            fontsize: "100px;",
                            chartArea: { width: '100%', height: '70%', left: 49, top: 50 },
                            backgroundColor: 'transparent',
                            curveType: "function",
                            isStacked: true,
                            vAxis: { format: '#\'%\'' },
                        }
                        var view = new google.visualization.DataView(data1);
                        view.setColumns([0, 1,
                            {
                                calc: "stringify",
                                sourceColumn: 1,
                                type: "string",
                                role: "annotation"

                            },
                            2,
                                        {
                                            calc: "stringify",
                                            sourceColumn: 2,
                                            type: "string",
                                            role: "annotation"
                                        }
                        ]);
                        console.log(parametros);
                        for (var i = 0; i < data.length; i++) {
                            data1.addRow([data[i].hora, data[i].CantCumpl0001, data[i].cantNoCumpl0001]);
                        }

                        $("#graffica_Call").css("height", "400");
                        var chart = new google.visualization.ColumnChart(document.getElementById("graffica_call"));
                        chart.draw(view, options);
                    },
                    error: function () {
                        console.log(data);

                    }
                })
            });
        }

    </script>
